{% load blog_templatetags %}


<div class="single-sidebar-widget post-category-widget">
    <h4 class="category-title">Post Catgories</h4>
    <ul class="cat-list">
        {% for category,counted in categories.items %}
        <li>
            <a href="#" class="d-flex justify-content-between">
                <p>{{category}}</p>
                <p>{{counted}}</p>
            </a>
        </li>
        {% endfor %}
         													
    </ul>
</div>	
<!--
context = {Key:value,key:value}
for k,v in context.items():
    print(k,v)
-->
